<style>

.sidebarconfig {
    background-color: #b1afaf;
    width: 50px;
    z-index: 1000;
    position: absolute;
    border-right: 1px solid #a4a3a3;
    border-left: 1px solid #a4a3a3;
}

.sidebarconfig .main-nav {
    width: 100%;
    float: left;
}

.sidebarconfig .main-nav li {
    width: 100%;
}

.sidebarconfig .main-nav li a.selected {
    color: #4e4d4d;
    border-bottom: 3px solid #a4a3a3;
}
.sidebarconfig .main-nav li a {
    display: block;
    border-bottom: 1px solid #a4a3a3;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #7f7d7d;
}

.rightconfigbar{
  width: 100%;
  overflow: hidden;
  float: right;
  padding-left: 50px;
}

.panel-grid{
  background-color:#cfcdcd;
}

.panel-heading .actions a{
  color:#075459;
}

.table-skini-presentation{
  padding: 0px 0px;
}

.table-skini-presentation thead tr{
  background-color: #d8d6d6;
}

.table-skini-presentation thead tr th{
  background-color: #484747;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.table-skini-presentation tbody tr td{
  padding-top:10px;
  padding-bottom:10px;
}

.table-skini-presentation tbody tr.odd{
  background-color: #e5e4e4;
}

.table-skini-presentation tbody tr.even{
  background-color: transparent;
}

.dashy-textfield-plus{
  border:0px solid;
  border-bottom: 1px solid #adacac;
  background-color:transparent;
}

.dashy-textfield-plus:focus{
  border:0px solid;
  border-bottom: 1px solid #075459;
}

.drag-zone {
  background-color: transparent;
}

.btn-skini-transpary{
  background-color: transparent;
  border: 1px solid #327074;
  color: #327074;
}

.jq-dropdown.jq-dropdown-tip:before {
  left: 30px;
}


.jq-dropdown.jq-dropdown-tip:after {
  left: 30px;
}
.panel .dashy-popin-panel:before {
  background-image: none
}


</style>
<div id="configuration_panel" ng-init="findAdmins();configChoice=1" style="width: 100%; margin: auto;">
   <div class="sidebarconfig" style="float: left;height:{{viewportHeight - 64}}px;">
      <ul class="main-nav" role="navigation">
          <li ng-click="clearMenuConfig();configChoice=1" style="cursor: pointer;">
            <a ng-class="{selected: configChoice==1}" style="cursor:pointer">
                <i class="fa fa-users"></i>
            </a>
          </li>
          <li ng-click="configChoice=2" style="cursor: pointer;">
            <a ng-class="{selected: configChoice==2}" style="cursor:pointer">
                <i class="fa fa-pie-chart"></i>
            </a>
          </li>
          <li ng-click="configChoice=3" style="cursor: pointer;">
            <a ng-class="{selected: configChoice==3}" style="cursor:pointer">
                <i class="fa fa-cloud-download"></i>
            </a>
          </li>
          <li style="cursor: pointer;">
            <a ng-click="confirmActionReboot()" style="cursor:pointer">
                <i class="fa fa-power-off"></i>
            </a>
          </li>
      </ul>
   </div>
   <div id="cofig_Users" class="rightconfigbar" ng-if="configChoice==1" >
      <div class="panel panel-default panel-sidebar panel-grid">
         <div class="panel-heading" style="position:relative">
            <h3 class="panel-title"><i class="fa fa-users fa-1x" style="margin-right:4px"></i >Gestion des Utilisateurs</h3>
             <ul class="actions" style="top:8px;right:8px;">
               <a ng-if="!Admin && !newAdmin" ng-click="createAdmin()" style="cursor: pointer;"><i  class="fa fa-plus" ></i></a>
               <a ng-if="Admin || newAdmin" ng-click="clearMenuConfig()" style="cursor: pointer;color:#fff"><i  class="fa fa-reply-all" ></i></a>
            </ul>
         </div>
         <div class="panel-body" style="padding:0px 0px;">
            <!-- *********Create Admin***********  -->
            <div id="admin_create" class="" ng-if="showaddAdmin==true" style="padding:0px 15px">
               <div class="row">
                 <div class="col-md-12">
                  <div class="form-group">
                     <label for="firstname">Nom <span class="asterix">*</span> :</label>
                     <input type="text" data-ng-model="newAdmin.firstname" id="usersavefirstname" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin firstname here.">
                  </div>
                  <div class="form-group">
                     <label for="lastname">Prénom <span class="asterix">*</span> :</label>
                     <input type="text" data-ng-model="newAdmin.lastname" id="usersavelastname" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin lastname here.">
                  </div>
                  <div class="form-group">
                     <label for="email">Email <span class="asterix">*</span> :</label>
                     <input type="email" data-ng-model="newAdmin.email" id="email" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin email here.">
                  </div>
                  <div class="form-group">
                     <label for="password">Mot de Passe <span class="asterix">*</span> :</label>
                     <input type="password" data-ng-model="newAdmin.password" id="usersavepassword" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin password here.">
                  </div>
                  <div class="form-group  flat-select flat-select-hardSkini">
                     <label for="roles">Fonction <span class="asterix">*</span> :</label>
                     <select data-ng-model="newAdmin.roles[0]" id="usersaveroles" class="selectcustom" ng-change="refreshCMB(newAdmin.roles[0])">
                        <option value="ROLE_ADMIN" ng-selected="newAdmin.roles[0] == 'ROLE_ADMIN'">Administrateur</option>
                        <option value="ROLE_PROGRAMMER" ng-selected="newAdmin.roles[0] == 'ROLE_PROGRAMMER'">Programeur</option>
                     </select>
                  </div>
                  <div class="col-md-12 form-group">
                      <center>
                       <input type="submit" class="btn btn-default btn-skini-transpary" value="Save" ng-click="functionCreateadmin()">
                       <input type="submit" class="btn btn-default btn-skini-transpary" value="Cancel" ng-click="clearMenuConfig()">
                      </center>
                  </div>
                </div>
               </div>
            </div>
            <!-- *********Modif Admin***********  -->
            <div id="admin_config" class="" ng-if="showeditAdmin==true">
               <div class="">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="reference">Nom:</label>
                        <input type="text" data-ng-model="Admin.firstname" id="updateuserfirstname" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin firstname here">
                     </div>
                     <div class="form-group">
                        <label for="name">Prénom: <span class="asterix">*</span> :</label>
                        <input type="text" data-ng-model="Admin.lastname" id="updateuserlastname" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin lastname here">
                     </div>
                     <div class="form-group">
                        <label for="name">Email: <span class="asterix">*</span> :</label>
                        <input type="text" data-ng-model="Admin.email" id="email" class="form-control dashy-textfield dashy-textfield-plus" placeholder="Admin email here">
                     </div>
                  </div>
                  
                  <div class="col-md-12">
                     <div class="form-group  flat-select flat-select-hardSkini">
                        <label for="roles">Fonction :</label>
                        <select data-ng-model="admin.roles[0]" id="updateuserroles" class="selectcustom" ng-change="refreshCMB(admin.roles[0])">
                           <option value="ROLE_ADMIN" ng-selected="Admin.roles[0] == 'ROLE_ADMIN'">Administrateur</option>
                           <option value="ROLE_PROGRAMMER" ng-selected="Admin.roles[0] == 'ROLE_PROGRAMMER'">Programeur</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-12 form-group">
                      <center>
                     <input type="submit" class="btn btn-default btn-skini-transpary" value="Save" ng-click="functionUpdateadmin(Admin)">
                     <input type="submit" class="btn btn-default btn-skini-transpary" value="Cancel" ng-click="clearMenuConfig()">
                  </center>
                  </div>
               </div>
            </div>
            <!--Footer menu button on create or update -->
            <ul class="list-audio" style="width:auto" ng-if="!Admin && !newAdmin">
               <table datatable="ng" class="table table-center table-skini-presentation">
                  <thead>
                     <tr style="text-align:center">
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Fonction</th>
                        <th>Date de creation</th>
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="adm in admins" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td>{{ adm.firstname+' '+adm.lastname }}</td>
                        <td>{{ adm.email }}</td>
                        <td>
                           <ul>
                              <li ng-repeat="role in adm.roles" ng-switch on="role" style="list-style:none">
                                 <span ng-switch-when="ROLE_ADMIN">Administrateur</span>
                                 <span ng-switch-when="ROLE_PROGRAMMER">Programeur</span>
                              </li>
                           </ul>
                        </td>
                        <td>{{ adm.created | date:'medium'}}</td>
                        <td>
                           <span style="display: block; text-align: center; border-radius: 5px;cursor:pointer;" ng-show="!adm.locked" class="bg-success" data-toggle="tooltip" data-placement="top" title="click to switch the status" ng-click="switchStatus(adm)">Autorisé</span>
                           <span style="display: block; text-align: center; border-radius: 5px;cursor:pointer;" ng-show="adm.locked" class="bg-danger" data-toggle="tooltip" data-placement="top" title="click to switch the status" ng-click="switchStatus(adm)">Bloqué</span>
                        </td>
                        <td>
                           <center>
                              <a ng-click="editAdmin(adm)" style="cursor:pointer"><i class="fa fa-table-btn fa-cog" style="cursor:pointer"></i></a>
                              <a ng-click="removeAdmin(adm,$index)"  style="cursor:pointer">
                              <i class="fa fa-table-btn fa-trash-o" style="color:#c0bebe;cursor:pointer"></i>
                              </a>
                           </center>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </ul>
         </div>
      </div>
   </div>


   <div id="cofig_Dashboard" class="rightconfigbar" ng-if="configChoice==2" style=" min-width: 600px; overflow-x: auto; ">
    <div class="panel panel-default panel-sidebar panel-grid" style="">
      <div class="panel-heading" style="position:relative">
        <h3 class="panel-title"><i class="fa fa-users fa-1x" style="margin-right:4px"></i >Espace Disque</h3>
      </div>
      <div class="panel-body" style="padding:0px 0px;margin-top: 25px">
        <div style="margin:auto;width: 700px; height: 400px;background-color: #e5e4e4; box-shadow: 0px 0px 7px 5px #aaa;border-radius: 18px;">
          <div id="headChart" style="height: 50px; background-color: #333;border-radius: 17px 17px 0 0px;">
            <span style="color: #d8d6d6; font-size: 13pt; font-weight: 400; position: absolute; margin: 11px 15px;">Mémoire de stockage</span>
          </div>
          <div id="bodChart" style="background-color:#e5e4e4">
            <div id="detailChart" style="float:left;padding: 30px;">
                <div class="col-md-5">
                   <div class="row">
                      <div class="col-md-6">
                         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;width: 140px; height: 80px;">
                            <div class="data-info" style="display: inline-block;">
                               <span>{{bytesToSize(storage.all.free)}}</span>
                               <div class="desc"><b>Espace Libre</b></div>
                            </div>
                            <div class="icon"><span class="s7-cloud-download"></span></div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-6">
                         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;width: 140px; height: 80px;">
                            <div class="data-info" style="display: inline-block;">
                                <span>{{bytesToSize(storage.all.used)}}</span>
                               <div class="desc"><b>Espace Utilisé</b></div>
                            </div>
                            <div class="icon"><span class="s7-cloud-download"></span></div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-6">
                         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;width: 140px; height: 80px;">
                            <div class="data-info" style="display: inline-block;">
                                <span>{{bytesToSize(storage.all.total)}}</span>
                               <div class="desc"><b>Espace Total</b></div>
                            </div>
                            <div class="icon"><span class="s7-cloud-download"></span></div>
                         </div>
                      </div>
                   </div>
                </div> 
            </div>
            <div id="graphZone" style="float:right;margin-top: 50px;">
              <canvas id="pie" class="chart chart-pie" width="450px" height="250px"
                chart-data="storage.data" chart-labels="storage.label" chart-colours="colours" chart-options="{animation: false, responsive: false, maintainAspectRatio: false,tooltipTemplate: '<%= label %>: <%= value %>%',}">
              </canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
   </div>

   <div id="cofig_upload" class="rightconfigbar" ng-if="configChoice==3" style=" min-width: 600px; overflow-x: auto; height:{{viewportHeight - 64}}px;">
    <div class="panel panel-default panel-sidebar panel-grid" style="">
      <div class="panel-heading" style="position:relative">
        <h3 class="panel-title"><i class="fa fa-users fa-1x" style="margin-right:4px"></i >Mise a jours du Système</h3>
      </div>
      <div class="panel-body" style="padding:0px 0px;margin-top: 25px">
              

              <div id="uploadfilespannel" class="panel dashy-popin-panel" style="border-top: none;border-radius: 10px;position: relative; width: 80%; margin: 0 auto; height: 290px;">
                  <div ng-hide="UPLOAD.progress===0 || UPLOAD.progress===100" class="progress" style="height:20px;margin:0px;margin-top:-4px;background-color:#343333">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="UPLOAD.progress" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': UPLOAD.progress + '%' }" style="background-color:#0c7b82">
                      {{UPLOAD.progress}} %
                    </div>
                  </div>
                  <div class="panel-body" style="padding:10px;height: 100%; ">
                    <div class="tab-content row" style=" height: 100%; ">
                      <div id="documents" class="tab-pane fade  in active col-md-12 file-upload-panel" style=" height: 100%; ">
                        <div class="row" style=" height: 100%; ">
                          <div class="col-md-12" style=" height: 100%; ">
                            <div  nv-file-drop="" uploader="UPLOAD" style=" height: 100%; ">
                            <div class="drag-zone" style="width: 100%">
                              <span class="select-wrapper" style="float:right">
                                <input type="file" nv-file-select="" uploader="UPLOAD" name="image_src" id="image_src"  accept=".bin" style="cursor:pointer"/>
                              </span>                               
                              <h3 class="txt-drop-here">drop zone</h3>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

      </div>
    </div>
   </div>



<!--div class="col-md-5">
   <div class="row">
      <div class="col-md-6">
         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;">
            <div class="data-info" style="display: inline-block;">
               <div data-toggle="counter" data-end="18.6" data-decimals="1" data-suffix="%" class="value">18.6%</div>
               <div class="desc">Download Files</div>
            </div>
            <div class="icon"><span class="s7-cloud-download"></span></div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;">
            <div class="data-info" style="display: inline-block;">
               <div data-toggle="counter" data-end="18.6" data-decimals="1" data-suffix="%" class="value">18.6%</div>
               <div class="desc">Download Files</div>
            </div>
            <div class="icon"><span class="s7-cloud-download"></span></div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="widget widget-tile" style="background-color: #fff;padding: 24px 20px; margin-bottom: 20px;">
            <div class="data-info" style="display: inline-block;">
               <div data-toggle="counter" data-end="18.6" data-decimals="1" data-suffix="%" class="value">18.6%</div>
               <div class="desc">Download Files</div>
            </div>
            <div class="icon"><span class="s7-cloud-download"></span></div>
         </div>
      </div>
   </div>
</div--> 