<div class="container-fluid">
	<div class="row">
		<div id="page-500" class="col-xs-12 text-center">
			<h1>Oops Server Error</h1>
			<h3>please contact the admin</h3>
			<img src="img/logo_alpha.png" alt="" />
		</div>
	</div>
</div>
