
    <div  id="toptop_nav" class="nav_menu" ng-init="menu_toggle_init()">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle" ><i class="fa fa-bars"></i></a>
            </div>

        
        </nav>
    </div>
