<style type="text/css">
  
  .to-right{
    float: right;
  }


</style>
<div class="container body">
          
  <div class="main_container">
         




           <!-- header (navbar) -->
          <div id="header_bar" class="top_nav hidden-print">
            <data-ui-view name="header">
            </data-ui-view>
          </div>
          <!-- end header -->




             <!-- sidebar right -->
          <div id="sidebar_right"  class="col-md-3 left_col hidden-print">
            <div  class="left_col scroll-view">
              <data-ui-view name="sidebar_right">
              </data-ui-view>
            </div>
          </div>
          <!-- end right sidebar-->




          <!-- sidebar left -->
         
            <!--data-ui-view name="sidebar_left">
            </data-ui-view-->

          <!-- end left sidebar-->

     

         

          <!-- content -->
            <div id="right_col" class="right_col" role="main" ng-if="contentHeight" style="height: {{contentHeight}}">
              <data-ui-view name="content">
              </data-ui-view>
            </div>
          <!-- end content -->



           <!-- footer content -->
        <footer class="hidden-print" style="display: none">
            <div class="pull-left">
                Gentelella - قالب پنل مدیریت بوت استرپ <a href="https://colorlib.com">Colorlib</a> | پارسی شده توسط <a
                    href="https://morteza-karimi.ir">مرتضی کریمی</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->













          <!-- sidebar Bottom -->
            <!--footer>
              <data-ui-view name="bottom">
              </data-ui-view>
            </footer-->
          <!-- end right sidebar-->



          <!-- events zone -->
            <!--div id="events">
              <div class="content row">
                <data-ui-view name="dynamic">
                </data-ui-view>
              </div>
            </div-->
          <!-- end events zone -->

  </div>
</div>

