
    <div class="navbar nav_title" style="border: 0;">
        <a class="site_title" style="text-align: center;"><span>   جمعية القاضي عياض    </span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>المستعمل</span>
            <h2>المشرف</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
        <div class="menu_section">
            <h3 name="arra2esseya">الرئيسية</h3>
            <ul class="nav side-menu">
                <li>
                    <a  ui-sref="backoffice.admin.dashboard">
                        <i class="fa fa-home"></i> المؤشرات 
                    </a>                
                </li>
                <li>
                    <a  ui-sref="backoffice.admin.history">
                        <i class="fa fa-edit" ></i> بحت في المعاملات 
                    </a>
                </li>  
                <li>
                    <a  ui-sref="backoffice.admin.historyStudentParticipation">
                        <i class="fa fa-id-card" ></i> بحت في الانخراطات 
                    </a>
                </li>              
            </ul>
        </div>
<!--         <div class="menu_section">
            <h3 name="arra2esseya">‫الجداول‬ ‫المالیة</h3>
            <ul class="nav side-menu" >
                <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableFunds')]">
                    <a  ui-sref="backoffice.admin.tableFunds" >
                        <i class="fa fa-table"></i> جدول‬‬ ‫الصندوق‬ ‫ ‫
                    </a>                
                </li>
                <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableBank')]">
                    <a  ui-sref="backoffice.admin.tableBank">
                        <i class="fa fa-table" ></i> ‫جدول‬ البنك‬ ‫
                    </a>
                </li> 
                <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableIncomes')]">
                    <a  ui-sref="backoffice.admin.tableIncomes">
                        <i class="fa fa-table" ></i> ‫جدول‬ ‫المداخیل‬ ‫
                    </a>
                </li>
                <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableExpenses')]">
                    <a  ui-sref="backoffice.admin.tableExpenses">
                        <i class="fa fa-table" ></i> ‫جدول المصاریف‬‬ ‫العام‬ ‫ ‫
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="menu_section">
            <h3  name="tadbir-tarbawi" >التدبير التربوي</h3>
            <ul class="nav side-menu">
                <li>
                    <a name="a9ssam" data-toggle="collapse" data-target="#a9ssam" data-parent="#sidebar-menu" ui-sref="backoffice.admin.listClasses">
                        <i class="fa fa-folder-open-o"></i>الأقسام 
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <ul class="nav child_menu collapse" id="a9ssam">
                        <li><a  ui-sref="backoffice.admin.listClasses">لائحة الأقسام</a></li>
                        <li><a  ui-sref="backoffice.admin.listeachClasses">لائحة كل قسم</a></li>
                        <li><a  ui-sref="backoffice.admin.createClasses">اضافة قسم</a></li>
                    </ul>
                </li>

                <li>
                    <a name="attalamid" data-toggle="collapse" data-target="#attalamid"  ui-sref="backoffice.admin.listStudents">
                        <i class="fa fa-users"></i>التلاميذ 
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <ul class="nav child_menu collapse" id="attalamid">
                        <li><a  ui-sref="backoffice.admin.listStudents">لائحة التلاميذ</a></li>
                        <li><a  ui-sref="backoffice.admin.createStudents">اضافة تلاميذ</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="menu_section">
            <h3  name="tadbir-iktissadi">  التدبير الاقتصادي</h3>
            <ul class="nav side-menu">
                <li>
                    <a name="expenses" data-toggle="collapse" data-target="#expenses" data-parent="#sidebar-menu"  ui-sref="backoffice.admin.listExpenses">
                        <i class="fa fa-credit-card-alt"></i>المصاريف
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <ul class="nav child_menu collapse" id="expenses">
                        <li><a  ui-sref="backoffice.admin.listExpenses">لائحة المصاريف</a></li>
                        <li><a  ui-sref="backoffice.admin.createExpenses">اضافة المصاريف</a></li>
                    </ul>
                </li>

                <li>
                    <a name="incomes" data-toggle="collapse" data-target="#incomes"  data-parent="#sidebar-menu" ui-sref="backoffice.admin.listIncomes">
                        <i class="fa fa-money"></i>المداخيل
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <ul class="nav child_menu collapse" id="incomes">
                        <li><a  ui-sref="backoffice.admin.listIncomes">لائحة المداخيل</a></li>
                        <li><a  ui-sref="backoffice.admin.createIncomes">اضافة المداخيل</a></li>
                    </ul>
                </li> 

                <li>
                    <a name="tablefund" data-toggle="collapse" data-target="#tablefund" data-parent="#sidebar-menu" ui-sref="backoffice.admin.tableFunds">
                        <i class="fa fa-money"></i>الجداول‬ ‫المالیة
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <ul class="nav child_menu collapse" id="tablefund">
                        <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableFunds')]">
                            <a  ui-sref="backoffice.admin.tableFunds" >
                             جدول‬‬ ‫الصندوق‬ ‫ ‫
                            </a>                
                        </li>
                        <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableBank')]">
                            <a  ui-sref="backoffice.admin.tableBank">
                                 ‫جدول‬ البنك‬ ‫
                            </a>
                        </li> 
                        <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableIncomes')]">
                            <a  ui-sref="backoffice.admin.tableIncomes">
                                 ‫جدول‬ ‫المداخیل‬ ‫
                            </a>
                        </li>
                        <li ng-class="{true:'active', false:''}[checkActive('backoffice.admin.tableExpenses')]">
                            <a  ui-sref="backoffice.admin.tableExpenses">
                                 ‫جدول المصاریف‬‬ ‫العام‬ ‫ ‫
                            </a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>

        <!--div class="menu_section">
            <h3  name="tadbir-iktissadi"> الإعدادات</h3>
            <ul class="nav side-menu">
                <li>
                    <a name="al-amalyat"  ui-sref="backoffice.admin.listBanks">
                        <i class="fa fa-key"></i>المستعملين 
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li><a href="e_commerce.html">تجارت الکترونیک</a></li>
                        <li><a href="projects.html">پروژه ها</a></li>
                        <li><a href="project_detail.html">جزئیات پروژه</a></li>
                        <li><a href="contacts.html">اطلاعات تماس</a></li>
                        <li><a href="profile.html">نمایه</a></li>
                    </ul>
                </li>

            </ul>
        </div-->

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="ملء الشاشة " ng-click="f11();">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="لقطة شاشة" class="lock_btn" ng-click="captureEcran()">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="خروج" ng-click="signOutAll()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->

<script type="text/javascript">
    var $myGroup = $('#sidebar-menu');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
</script>
