  <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" syle="@media (min-width: 1502px) !important">
      <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                 Widget settings form goes here
              </div>
              <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
        Ligne Menu</h3>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <a href="#!/accounts/administration/lignes">Lignes</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#!/accounts/administration/lignes/create">Create</a>
            </li>
          </ul>
         
        </div>
        <!-- END PAGE HEADER-->

<div class="row" ng-init="find()">
  <div class="col-lg-10">
    <div class="row">
      <form class="form-horizontal" data-ng-submit="create()" novalidate>
          <div class="col-sm-12">
              <div data-ng-show="errors" id="error-alert" class="alert alert-danger alert-error">
                  <a href="#" class="close" ng-click="closeAlert()">&times;</a>
                  <ul>
                      <li data-ng-repeat="error in errors" data-ng-bind="error.msg"></li>
                  </ul>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4"></div>
          <div class="col-xs-12 col-sm-6">
              <div class="box">
          
                  <div class="box-content">
                    <div class="mtop15">
                        <label class="control-label mbot7" for="reference">Réference :</label>
                        <div class="controls">
                            <input type="text" data-ng-model="reference" id="reference" class="form-control form-filter input-sm margin-bottom-5 clearfix" placeholder="reference">
                        </div>
                    </div>

                    <div class="mtop15">
                        <label class="control-label mbot7" for="name">Name :</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control form-filter input-sm margin-bottom-5 clearfix" placeholder="name">
                            <input type="hidden" data-ng-model="active" id="active" class="form-control" value="0">
                        </div>
                    </div>

                    <div class="mtop15">
                        <label class="control-label mbot7" for="type">Projet :</label>
                        <div class="controls">
                      <select ng-model="projet" name="projet" class="form-control form-filter input-sm">
                        <option ng-repeat="projet in projets" value="{{projet._id}}">{{projet.name}}</option>
                        </select>   
                        </div>
                    </div>


                    <div class="mtop15">
                        <center><input type="submit" class="btn btn-sm yellow table-group-action-submit"></center>
                        <input type="hidden" data-ng-model="logo" id="logo">
                    </div>


                  </div>
              </div>

              
       
      </form>
    </div>
</div>

</div>

</div>
</div>