<style type="text/css">
body { 
background : url("./img/singpi.png"); 
min-height: 50% !important
}
 
</style>

<!--
<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
	<div class="box" style="margin-top:80px">
		<div class="box-content">
			<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
				<div class="text-center">
					<h3 class="page-header" style="border-bottom: 1px solid #eee;">Initialisation du mot de passe</h3>
				</div>
				<div class="form-group" style="margin:15px 0px">
					<label class="control-label" for="email">Email</label>
					<input type="text" class="form-control" id="email" name="email"  data-ng-model="credentials.email"/>
				</div>
				<div class="text-center">
					<button class="btn btn-default btn-app btn-circle" type="button"  ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</button>
					<button type="submit" class="btn btn-primary" ng-show="!loading">Envoyer</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
				<div class="forgot-password">
					<ul>
						<li><a href="/#!/accounts/password/forgot" style="font-size:11px;">Mot de passe oublié ?</a></li>
						<li><a href="/#!/accounts/password/forgot" style="font-size:11px;">Initiliser le mot de passe ?</a></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>
-->

<div class="" style="max-width:99%">
  <div class="panel panel-default panel-noborder panel-transparent" style="box-shadow:none;">
    <div class="row panel-body" style="margin-top:15%">
      	<div class="col-md-8"> 
      		<img src="img/logo.png" width="80%" style="margin-top:-5%"></img>
      	</div>
      	<div class="col-md-4" style="margin-left:0%; margin-top:5%">
	      	<div style="border-left: 1px solid #c9a08f;height:160px;width:280px;">
		        <form data-ng-submit="askForPasswordReset()" autocomplete="off" style="margin-left:3%">
		          <div class="form-group" style=" z-index: 2000">
					<center><h3 class="page-header" style="border-bottom: 1px solid #eee;color: #57afe2;font-family: sans-serif;font-size: 26px;">Mot de passe oublié</h3></center>
		             <label for="password" style="color:#fff;">Email :</label>
		            <input id="email" name="email"  data-ng-model="credentials.email" class="form-control aviwest-textfield aviwest-textfield-login" type="email">
		          </div>
		        
		          <center><button ng-disabled="dsablebut==false" class="btn btn-default" type="submit">Suivant</button></center>
		        </form>
	        </div>
        </div>
    </div>
  </div>
</div>
