<style type="text/css">
body { 
background : url("./img/singpi.png"); 
min-height: 50% !important
}
 
</style>

<!--
<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
	<div class="box" style="margin-top:80px">
		<div class="box-content">
			<form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
				<div class="text-center">
					<h3 class="page-header" style="border-bottom: 1px solid #eee;">Initialisation du mot de passe</h3>
				</div>
				<div class="form-group" style="margin:15px 0px">
					<label for="newPassword">Nouveau mot de passe</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group" style="margin:15px 0px">
					<label for="verifyPassword">Vérifier le mot de passe</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="text-center form-group">
					<button class="btn btn-default btn-app btn-circle" type="button"  ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</button>
					<button type="submit" class="btn btn-large btn-primary" ng-show="!loading">MAJ mot de passe</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</form>
		</div>
	</div>
</div>
-->



<div class="" style="max-width:99%">
  <div class="panel panel-default panel-noborder panel-transparent" style="box-shadow:none;">
    <div class="row panel-body" style="margin-top:15%">
      	<div class="col-md-8"> 
      		<img src="img/logo.png" width="80%" style="margin-top:-5%"></img>
      	</div>
      	<div class="col-md-4" style="margin-left:0%; margin-top:5%">
	      	<div style="border-left: 1px solid #c9a08f;height:235px;width:350px;">
		        <form data-ng-submit="resetUserPassword()" style="margin-left:3%" autocomplete="off">
			        <div class="form-group" style=" z-index: 2000">
			            <center>
			            	<h3 class="page-header" style="border-bottom: 1px solid #eee;color: #57afe2;font-family: sans-serif;font-size: 26px;">Initialisation du mot de passe</h3>
			            </center>
			            <label for="email" style="color:#fff;">Nouveau mot de passe :</label>
			            <input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword" placeholder="Nouveau mot de passe" class="form-control aviwest-textfield aviwest-textfield-login" >
			        </div>
			        <div class="form-group">
			            <label for="password" style="color:#fff;">Vérifier le mot de passe :</label>
			            <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Vérifier le mot de passe" class="form-control aviwest-textfield aviwest-textfield-login">
			          </div>
			        <center><button ng-disabled="dsablebut==false" class="btn btn-default" type="submit">Connexion</button></center>
	        	</form>
	        </div>
        </div>
    </div>
  </div>
</div>
