<style type="text/css">
  .right_col{
    height: 100%!important;
  }
</style>
  <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                      <div class="icon"><i class="fa fa-credit-card-alt"></i></div>
                      <div class="count">{{kpi.expense_month}}</div>
                      <h3>مجموع مصاريف الشهر</h3>
                  </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                      <div class="icon"><i class="fa fa-money"></i></div>
                      <div class="count">{{kpi.income_month}}</div>
                      <h3>مجموع مداخيل الشهر</h3>
                  </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                      <div class="icon"><i class="fa fa-credit-card-alt"></i></div>
                      <div class="count">{{pieP.total_student}}</div>
                      <h3>مجموع عدد التلاميد</h3>
                  </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                      <div class="icon"><i class="fa fa-money"></i></div>
                      <div class="count">{{kpi.income_day}}</div>
                      <h3>مجموع مداخيل اليوم</h3>
                  </div>
              </div>
  </div>




  <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                  <div class="x_title">
                      <h2 style="font-size:14px">نسبة تحصيل الانخراطات لهدا الشهر</h4>       
                      <div class="clearfix"></div>                      
                  </div>
                  <div class="x_content">
                      <table class="" style="width:100%">
                          <tr>
                              <th style="width:50%;">
                              </th>
                              <th>
                                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                      <p class="">النسبة</p>
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                      <p class="">الفئة</p>
                                  </div>
                              </th>
                          </tr>
                          <tr>
                              <td>
                                  <canvas ng-if="pieStud" id="pieStud" class="chart chart-pie" chart-data="pieStud.data" chart-labels="pieStud.name"  chart-colours="colours">
                                  </canvas>
                              </td>
                              <td>
                                  <table class="tile_info">
                                      <tr ng-repeat="item  in pieStud.name track by $index">
                                          <td>
                                              <p><i class="fa fa-square" ng-style="{color:colors[$index].backgroundColor}"></i>{{item}} </p>
                                          </td>
                                          <td>{{pieStud.data[$index]}}</td>
                                      </tr>
                                  </table>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                  <div class="x_title">
                      <h2>توزيع مصاريف الشهر</h2>                
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <table class="" style="width:100%">
                          <tr>
                              <th style="width:50%;">
                              </th>
                              <th>
                                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                      <p class="">المبلغ</p>
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                      <p class="">نوع المصاريف</p>
                                  </div>
                              </th>
                          </tr>
                          <tr>
                              <td>
                                  <canvas ng-if="PieE" id="piee" class="chart chart-pie" chart-data="PieE.amount" chart-labels="PieE.name"  chart-colours="colours">
                                  </canvas>
                              </td>
                              <td>
                                  <table class="tile_info">
                                      <tr ng-repeat="item  in PieE.name track by $index">
                                          <td>
                                              <p><i class="fa fa-square" ng-style="{color:colors[$index].backgroundColor}"></i>{{item}} </p>
                                          </td>
                                          <td>{{PieE.amount[$index]}}</td>
                                      </tr>
                                  </table>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                  <div class="x_title">
                      <h2>توزيع مداخيل الشهر</h2>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <table class="" style="width:100%">
                          <tr>
                              <th style="width:50%">
                              </th>
                              <th>
                                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                      <p class="">المبلغ</p>
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                      <p class="">نوع المداخيل</p>
                                  </div>
                              </th>
                          </tr>
                          <tr>
                              <td>
                                  <canvas ng-if="PieI" id="piei" class="chart chart-pie" chart-data="PieI.amount" chart-labels="PieI.name"  chart-colours="colours">
                                  </canvas>
                              </td>
                              <td>
                                  <table class="tile_info">
                                      <tr ng-repeat="item  in PieI.name track by $index">
                                          <td>
                                              <p><i class="fa fa-square" ng-style="{color:colors[$index].backgroundColor}"></i>{{item}} </p>
                                          </td>
                                          <td>{{PieI.amount[$index]}}</td>
                                      </tr>                                      
                                  </table>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
      </div>
  </div>











  <div class="row">
      <div class="col-md-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>بيان مصاريف و مداخيل السنة</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="demo-container" style="height:280px">
                          <div class="demo-placeholder">
                              <canvas id="line" ng-if="graphData" class="chart chart-line" chart-data="graphData.data" chart-labels="graphData.labels" chart-series="graphData.series" chart-options="optionLine" legend="true">
                              </canvas>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!--   <div class="row">
      <div class="col-md-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>بيان مداخيل الانخراطات</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="demo-container" style="height:280px">
                          <div class="demo-placeholder">
                              <canvas id="line" ng-if="graphData" class="chart chart-line" chart-data="graphData.data" chart-labels="graphData.labels" chart-series="graphData.series" chart-options="optionLine" legend="true">
                              </canvas>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
