<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">تاريخ المعاملات</h3>
      </div>
  </div>
  <div class="clearfix"></div>
       <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>بحت</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">	                            
                            <div class="col-md-6" style="float: right">
                                من
                                <input type="date" style="width: 100%" ng-model="filter.from"/>
                            </div>
                            <div class="col-md-6" style="float: right">
                                إلى
                                <input type="date" style="width: 100%" ng-model="filter.to"/>
                            </div>                            
	                    </div>	                    	
                    </div>

                    <div class="form-group" style="margin-top: 80px; text-align: center;">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        	<button type="submit" class="btn btn-success" ng-click="searchDataHistory()">بحت</button>
                            <button type="submit" class="btn btn-primary" ng-click="downData()">تحميل</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة التلاميذ </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>الناريخ</th>
                              <th>طبيعة العملية</th>
                               <th>نوع العملية</th>
                              <th>العملية</th>
                              <th>المشروع</th>
                              <th>الوثيقة</th>
                              <th>طريقة التسديد</th>
                              <th>المبلغ</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in history">
                          <th scope="row">{{$index + 1}}</th>
                          <td>{{item.date | date:'yyyy-MM-dd'}}</td>
                          <td>{{item.type}}</td>
                          <td>{{item.type_name}}</td>
                          <td>{{item.operation}}</td>
                          <td>{{item.project}}</td>
                          <td>{{item.document}}</td>
                          <td>{{item.type_paiement}}</td>
                          <td>{{item.amount}}</td>
                         
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>
