<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="" ng-init="searchIncomesTable()">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">‫جدول‬ المداخیل‬</h3>
      </div>
  </div>
  <div class="clearfix"></div>
       <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>بحت</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">                              
                            <div class="col-md-6" style="float: right">
                                من
                                <input type="date" style="width: 100%" ng-model="filter.from"/>
                            </div>
                            <div class="col-md-6" style="float: right">
                                إلى
                                <input type="date" style="width: 100%" ng-model="filter.to"/>
                            </div>                            
                      </div>                        
                    </div>

                    <div class="form-group" style="margin-top: 80px; text-align: center;">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="searchIncomesTable()">بحت</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>‫الأشھر‬</th>
                              <th>الناريخ</th>
                              <th>نوع‬ المداخیل‬ </th>
                              <th>العملية</th>
                              <th>الوثيقة‬</th>
                              <th>المبلغ</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in history">
                          <th scope="row">{{getMonth(item.saved_at)}}</th>
                          <td>{{item.saved_at | date:'yyyy-MM-dd'}}</td>
                          <td>{{item.type}}</td>
                          <td>{{item.operation}}</td>
                          <td>{{item.document}}</td>
                          <td>{{item.amount}}</td>
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>