<style type="text/css">
 	th, td{
    	text-align: center;
  	}	
 	
</style>
<div class="" ng-init="findStudent()">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">بحت في الانخراطات</h3>
      </div>
  </div>
  <div class="clearfix"></div>
       <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>بحت</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">	                            
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                إلى
                                <input type="date" style="width: 100%" ng-model="filter.to"/>
                            </div>  
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                من
                                <input type="date" style="width: 100%" ng-model="filter.from"/>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin: 20px 0px;">
                                <label style="width: 100%;display: block;text-align: right">التلميذ</label>
                                <select
			                        chosen
			                        option="students"
			                        ng-model="filter.student_id"
			                        ng-options="item.id as item.displayName for item in students track by item.id"
        							allow-single-deselect="true"
			                        placeholder-text-single="اسم المنخرط"
			                        autocomplete="off" style="width: 300px">
			                        <option></option>
			                    </select>
                            </div>
                                                                               
	                    </div>	                                   	
                    </div>  	     

                    <div class="form-group" style="margin-top: 80px; text-align: center;">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        	<button type="submit" class="btn btn-success" ng-click="searchStudentParticipation()">بحت</button>
                            <button type="submit" class="btn btn-primary" ng-click="downStudentParticipation()">تحميل</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة التلاميذ </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>السنة</th>
                              <th>الشهر</th>
                              <th>التلميد</th>
                              <th>المبلغ</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in participations | orderBy:['-year','-month']">
                          <th scope="row">{{$index + 1}}</th>
                          <td>{{item.year}}</td>
                          <td>{{getMonth(null,item.month)}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.amount}}</td>                         
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>
