

<div class="row" >
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <h4 class="c-grey-900 mB-20">Add new User</h4>             
      <div>
        <div class="form-group">
          <label for="name">First Name <span class="asterix">*</span></label>
          <input type="text" class="form-control" aria-describedby="First Name" ng-model="newAdmin.firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" aria-describedby="Last Name" ng-model="newAdmin.lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="name">Email <span class="asterix">*</span></label>
          <input type="email" class="form-control" aria-describedby="Email" ng-model="newAdmin.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="name">Username <span class="asterix">*</span></label>
          <input type="text" class="form-control" aria-describedby="Username" ng-model="newAdmin.username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="name">Password <span class="asterix">*</span></label>
          <input type="text" class="form-control" aria-describedby="Password" ng-model="newAdmin.password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="url">Role <span class="asterix">*</span></label>
          <select ng-model="newAdmin.roles" id="roles" class="form-control">
            <option value="ROLE_ADMIN" >Admin</option>
            <option value="ROLE_USER">User</option>
          </select>
        </div>
        <div class="form-group text-center" style="margin-top: 35px;">
          <button class="btn cur-p btn-outline-primary" style="margin-right:5px" ng-click="saveNewUser()">Save</button>
          <button class="btn cur-p btn-outline-secondary" style="margin-left:5px" ui-sref="backoffice.admin.listAdminsData">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>




































