<style type="text/css">
  td, th{
    text-align: center;
  } 
</style>
<main class='main-content bgc-grey-100' ng-init="find()">
  <div id='mainContent'>
    <div class="container-fluid">
      <h4 class="c-grey-900 mT-10 mB-30">Users</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
              <h4 class="c-grey-900 mB-20">User Lists</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Username</th>
                      <th>Role</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="admin in admins | orderBy:['firstName']">
                      <td>{{$index}}</td>
                      <td>{{admin.displayName}}</td>
                      <td>{{admin.email }}</td>                    
                      <td>{{admin.username}}</td>
                      <td>{{admin.roles}}</td>
                      <td>
                        <span class="btn-danger btn-status-check" ng-click="switchStatus(admin)" style="font-size: 12px; padding: 7px;cursor: pointer;" ng-if="admin.locked ">Locked</span>
                        <span class="btn-success btn-status-check" ng-click="switchStatus(admin)" style="font-size: 12px; padding: 7px;cursor: pointer;" ng-if="!admin.locked">Autorised</span>
                      </td>
                      <td>
                          <span ui-sref="backoffice.admin.editAdmin({adminId: admin.id})" ><i class="mR-10 ti-pencil icon-action-edit"></i></span>
                          <span ng-click="confirmAction('remove',admin)"><i class="mR-10 ti-trash icon-action-rm"></i></span>
                      </td>                    
                    </tr>                 
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</main>