<div class="" ng-init="findOne()">
  <div class="page-title">
      <div class="title_left">
          <h3>صندوق المصاريف</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>تغير بيانات صندوق المصاريف</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                  <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
 <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="reference">الرقم
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="fund.reference">
                          </div>
                          
                      </div> 


                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="name">الاسم
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="fund.name">
                          </div>
                          
                      </div>  
                    
                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="amount"> الرصيد
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="fund.amount" float-only>
                          </div>
                          
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                              <button type="submit" class="btn btn-success" ng-click="updateFund()">حفظ</button>
                              <button type="submit" class="btn btn-primary" ui-sref="backoffice.admin.listFunds">إلغاء</button>
                          </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>