@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.forgot-password{}
.forgot-password ul {padding-left:0px}
.forgot-password ul li{list-style:none;}
