<div class="" ng-init="findCreate()">
  <div class="page-title">
      <div class="title_left">
          <h3>المداخيل</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>تسجيل المداخيل</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                  <form id="demo-incomes" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="savedAt">التاريخ
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="date"  required="required" class="form-control" placeholder="التاريخ" ng-model="newIncome.savedAt">
                          </div>
                          
                      </div> 


                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="operation">العملية
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="العملية" ng-model="newIncome.operation">
                          </div>
                          
                      </div>  

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="project">المشروع
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="المشروع" ng-model="newIncome.project">
                          </div>
                          
                      </div>  
                    
                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="type"> نوع المداخيل
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <select class="form-control" ng-model="typeIncomeValue" ng-change="typeIncome(typeIncomeValue)"  ng-options="item as item.name for item in type_incomes">{{item.name}}
                              </select>
                          </div>
                          
                      </div>

                      <div class="form-group" ng-if="typeIncomeValue.fromStudent">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="student">  اسم المنخرط
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <select
                                chosen
                                option="students"
                                ng-model="newIncome.student_id"
                                ng-options="item.id as item.displayName for item in students track by item.id"
                                placeholder-text-single="'اسم المنخرط'"
                                autocomplete="off" style="width: 100%">
                                <option></option>
                              </select>
                          </div>
                      </div>

                      <div class="form-group" ng-if="typeIncomeValue.fromStudent">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="student">  تاريخ التسجيل
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-2 col-sm-2 col-xs-12 to-right">
                              <select
                                chosen
                                option="listMonth"
                                ng-model="newIncome.studentIncome.monthName"
                                ng-options="item for item in listMonth"
                                placeholder-text-single="'الشهر'"
                                autocomplete="off" style="width: 100%">
                                <option></option>
                              </select>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-12 to-right">
                              <select
                                chosen
                                option="listYear"
                                ng-model="newIncome.studentIncome.year"
                                ng-options="item for item in listYear"
                                placeholder-text-single="'السنة'"
                                autocomplete="off" style="width: 100%">
                                <option></option>
                              </select>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="document"> الوثيقة
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="الوثيقة" ng-model="newIncome.document">
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="" "> طريقة التسديد
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <select class="form-control" ng-model="newIncome.typePaiement">
                                  <option value="bank">البنك</option>
                                  <option value="fund">الصندوق</option>
                              </select>
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="" "> المبلغ
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="newIncome.amount" placeholder="المبلغ" float-only>
                          </div>
                          
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                              <button type="submit" class="btn btn-success" ng-click="saveNewIncome()">حفظ</button>
                              <button type="submit" class="btn btn-primary" ui-sref="backoffice.admin.listIncomes">إلغاء</button>
                          </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>