<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">المداخيل</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة المداخيل </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>التاريخ</th>
                              <th>العملية</th>
                              <th>المشروع</th>
                              <th>نوع المداخيل</th>
                              <th>الوثيقة</th>
                              <th>طريقة التسديد</th>
                              <th>المبلغ</th>
                              <th>خيارات</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="income in incomes">
                          <th scope="row">{{$index + 1}}</th>
                          <td>{{income.savedAt | date:'yyyy-MM-dd'}}</td>
                          <td>{{income.operation}}</td>
                          <td>{{income.project}}</td>
                          <td>{{income.typeIncome.name}}</td>
                          <td>{{income.document}}</td>
                          <td>{{income.typePaiement}}</td>
                          <td>{{income.amount}}</td>
                          <td>
                            <i class="fa fa-pencil-square" aria-hidden="true" ui-sref="backoffice.admin.editIncomes({incomeId: income.id})" style="margin-left: 10px;cursor: pointer;"></i>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="confirmAction('remove',income)" style="margin-right: 10px;cursor: pointer;"></i>


                          </td>
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>
