<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<!--
	<p>Dear {{name}},</p>
	<br>
	<p>
		You have requested to have your password reset for your account at {{appName}}
	</p>
	<p>Please visit this url to reset your password:</p>
	<p><a href="{{url}}">{{url}}</a></p>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br>
	<p>The {{appName}} Support Team</p>
-->

<p><b>Bonjour {{name}},</b></p>
<br>

<p>Vous recevez ce message parce qu'une réinitialisation du mot de passe de votre compte utilisateur a 
été demandée.</p>

<p><b>ATTENTION</b><br>
Si vous n'avez pas demandé une réinitialisation du mot de passe, IGNOREZ et EFFACEZ ce courriel 
immédiatement ! Continuez uniquement si vous souhaitez que votre mot de passe soit réinitialisé !
</p>

<p>
Cliquez ou recopiez simplement le lien et complétez le reste du formulaire :<br> 
<a href="{{url}}">{{url}}</a>
</p>

<p>
Cordialement, <br> 
L'équipe {{appName}}
</p>
</body>
</html>