<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p><b>Bonjour {{name}},</b></p>
	<br>
	<p>Votre mot de passe a bien été changé.</p>
	<p>
	Cordialement, <br> 
	L'équipe {{appName}}
	</p>
</body>
</html>