<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">البنك</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة البنوك </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>الاسم</th>
                              <th>الهاتف</th>
                              <th>خيارات</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="bank in banks">
                          <th scope="row">{{$index + 1}}</th>
                          <td>{{bank.name}}</td>
                          <td>{{bank.phone}}</td>
                          <td>
                            <i class="fa fa-pencil-square" aria-hidden="true" ui-sref="backoffice.admin.editBanks({bankId: bank.id})" style="margin-left: 10px;cursor: pointer;"></i>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="confirmAction('remove',bank)" style="margin-right: 10px;cursor: pointer;"></i>


                          </td>
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>