<style type="text/css">
 .list-radio{

 }
 .list-radio  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.list-radio .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.list-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: 10px;
    float: right;
    position: relative;
}

/* On mouse-over, add a grey background color */
.list-radio .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.list-radio .container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.list-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.list-radio .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.list-radio .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list-radio .classrom-select{
  display: inline-block;
  width: auto;
  min-width: 245px;
}
</style>

<div class="" ng-init="findOne();findCreate()">
  <div class="page-title">
      <div class="title_left">
          <h3>التلاميذ</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>تغير بيانات التلميذ
                  </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                  <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="first-name">الاسم
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="student.firstName">
                          </div>
                          
                      </div>
                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="last-name">النسب
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="student.lastName">
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="code">رمز الإنخراط
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="student.code">
                          </div>
                          
                      </div>  

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="birdtDate"> تاريخ الإزدياد
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="date"  required="required" class="form-control" ng-model="student.birthDate">
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="phone"> الهاتف
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="student.phone">
                          </div>
                          
                      </div>


                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="address"> العنوان
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <textarea type="text" rows="4" cols="50" class="form-control" ng-model="student.address"></textarea>
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="city"> المدينة
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="student.city">
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="classroom"> القسم
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-8 col-sm-9 col-xs-12 to-right list-radio">
                              <div style="margin-top: 30px; border: 1px solid black; background-color: white; box-shadow: 0 0 5px 2px #00000091; padding: 25px; ">
                                <label class="container classrom-select" ng-repeat="cls in classes track by cls.id | orderBy:'id'" >
                                    {{cls.name}}
                                  <input type="checkbox" ng-value="cls.id" ng-click="checkSelectedClass(cls.id)" ng-checked="selectedClasses.indexOf(cls.id) > -1">
                                  <span class="checkmark"></span>
                                </label>                                
                              </div>
                          </div>
                          
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                              <button type="submit" class="btn btn-success" ng-click="updateStudent()">حفظ</button>
                              <button type="submit" class="btn btn-primary" ui-sref="backoffice.admin.listStudents">إلغاء</button>
                          </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>