<div class="" ng-init="findCreate()">
  <div class="page-title">
      <div class="title_left">
          <h3>المصاريف</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>تسجيل المصاريف</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                  <form id="demo-expenses" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="savedAt">التاريخ
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="date"  required="required" class="form-control" placeholder="التاريخ" ng-model="newExpense.savedAt">
                          </div>
                          
                      </div> 


                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="operation">العملية
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="العملية" ng-model="newExpense.operation">
                          </div>
                          
                      </div>  

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="project">المشروع
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="المشروع" ng-model="newExpense.project">
                          </div>
                          
                      </div>  
                    
                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="amount"> نوع المصاريف
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                               <select class="form-control" ng-model="newExpense.type_expense_id">
                                  <option ng-repeat="item in type_expenses track by $index" ng-value="item.id">{{item.name}}</option>
                              </select>
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="document"> الوثيقة
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" placeholder="الوثيقة" ng-model="newExpense.document">
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="" "> طريقة التسديد
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <select class="form-control" ng-model="newExpense.typePaiement">
                                  <option value="bank">البنك</option>
                                  <option value="fund">الصندوق</option>
                              </select>
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="" "> المبلغ
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="newExpense.amount" placeholder="المبلغ" float-only>
                          </div>
                          
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                              <button type="submit" class="btn btn-success" ng-click="saveNewExpense()">حفظ</button>
                              <button type="submit" class="btn btn-primary" ui-sref="backoffice.admin.listExpenses">إلغاء</button>
                          </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>