<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">المصاريف</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة المصاريف </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                   <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>الناريخ</th>
                              <th>العملية</th>
                              <th>المشروع</th>
                              <th>نوع المصاريف</th>
                              <th>الوثيقة</th>
                              <th>طريقة التسديد</th>
                              <th>المبلغ</th>
                              <th>خيارات</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="expense in expenses">
                          <th scope="row">{{$index + 1}}</th>
                          <td>{{expense.savedAt | date:'yyyy-MM-dd'}}</td>
                          <td>{{expense.operation}}</td>
                          <td>{{expense.project}}</td>
                          <td>{{expense.typeExpense.name}}</td>
                          <td>{{expense.document}}</td>
                          <td>{{expense.typePaiement}}</td>
                          <td>{{expense.amount}}</td>
                          <td>
                            <i class="fa fa-pencil-square" aria-hidden="true" ui-sref="backoffice.admin.editExpenses({expenseId: expense.id})" style="margin-left: 10px;cursor: pointer;"></i>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="confirmAction('remove',expense)" style="margin-right: 10px;cursor: pointer;"></i>


                          </td>
                      </tr>                      
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>