.mpointer{
	cursor:pointer
}
.mblue-template{
    color: #007aff;
}
.mcenter{
	text-align: center;
}

.ajs-commands{
	left: 1px;
}
.ajs-close{
	float: left;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary{
	text-align: center;
}
.collapse.in {
	display: block!important;
}
/*
a[aria-expanded=true] .fa-chevron-left {
   display: none;
}
a[aria-expanded=false] .fa-chevron-down {
   display: none;
}
*/
.tile-stats .icon i {
    font-size: 45px;
}

.tile-stats .icon {
    left: 46px;
    top: 13px;
}
.tile-stats {
	min-height: 66px
}