{% extends 'master.server.view.html' %}

{% block title %}Demo Page Index{% endblock %}


{% block sidebar %}
<div ng-app="ajax" id="sidebar-left" class="col-xs-2 col-sm-2">
	<ul ng-controller="AvilableGroupesController" class="nav main-menu">

		<li>
			<a href="#" class="ajax-link">
				<i class="fa fa-dashboard"></i>
				<span class="hidden-xs">Dashboard</span>
			</a>
		</li>
		<button type="button" ng-click="update(item, $event)" class="btn btn-block btn-info" >Groupes</button>
		<li class="dropdown cgroupes" ng-repeat="groupe in groupes"  ng-click="itemChanged(groupe._id)">
			<a class="dropdown-toggle" href="#!/groupes/{% raw %}{{groupe.trimName}}{% endraw %}/devices">
				<i class="fa fa-group "></i>
				 <span class="hidden-xs">{% raw %}{{groupe.name}}{% endraw %}</span>
			</a>
			<ul data-groupe-id="{% raw %}{{groupe._id}}{% endraw %}" class="dropdown-menu">
				<li ng-repeat="device in devices">

					<a style="cursor: pointer !important;" href="#!/groupes/{% raw %}{{groupe.trimName}}{% endraw %}/devices/{% raw %}{{device.trimName}}{% endraw %}" ng-show="device.status">
						<i class="fa   fa-hand-o-right"></i>
						<font  COLOR="#690">{% raw %}{{device.name}}{% endraw %}</font>
						<i class="led-green" >
							<i class="fa fa-check-circle-o" ></i>
						</i>
					</a>
					<a style="cursor: pointer !important;"  href="#!/groupes/{% raw %}{{groupe.trimName}}{% endraw %}/devices/{% raw %}{{device.trimName}}{% endraw %}" data-ui-sref="infoDevice({trimGroupe : 'Groupe-1', trimDevice : 'Device-1'})}"  ng-show="!device.status">
						<i class="fa  fa-hand-o-right"></i>
						<FONT COLOR="#FF0101"> {% raw %}{{device.name}}{% endraw %} </FONT>
						<i class="led-red" >
							<i class="fa fa-times-circle" ></i>
						</i>
					</a>
				</li>
			</ul>
		</li>
		<button type="button" class="btn btn-block btn-info" >Configurations</button>

	</ul>
</div>
{% endblock %}

{% block content %}
<div id="content" class="col-xs-12 col-sm-10" ng-app="companies">
	<!-- Start breadcrumb -->
	<div class="row">
	    <div id="breadcrumb" class="col-xs-12">
	        <a href="#" class="show-sidebar">
	            <i class="fa fa-bars"></i>
	        </a>
	        <ol class="breadcrumb pull-left">
	            <li><a href="#">Home</a></li>
	            <li><a href="#!/companies">Companies</a></li>
	        </ol>
	    <div id="social" class="pull-right">
	      <a href="#"><i class="fa fa-calendar"></i></a>
	    </div>
	    </div>
	</div>
	<!-- end breadcrumb -->
	<div class="row">
		<div class="col-xs-12 col-sm-10" data-ui-view>
		</div>
	</div>


</div>
{% endblock %}
