{% extends 'master.server.view.html' %}

{% block title %}Demo Page Index{% endblock %}

{% block content %}
<!--div class="row">
		<div class="col-xs-12 col-sm-12" data-ui-view>

		</div>
</div-->
<data-ui-view>
</data-ui-view>
{% endblock %}
