<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Login page{% endblock %}</title>
    <!-- Semantic META -->
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fav Icon -->
		<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<!--Application CSS Files-->
		{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
		  {% block content %}
			<div id="page-login" class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="box">
						<div class="box-content">
							<div class="text-center">
								<h3 class="page-header">Car-Tracking login</h3>
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<input type="text" class="form-control" name="email" />
							</div>
							<div class="form-group">
								<label class="control-label">Password</label>
								<input type="password" class="form-control" name="password" />
							</div>
							<div class="text-center">
								<a href="" class="btn btn-primary">Sign in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		  {% endblock %}
		</div>
		<!--Application JavaScript Files-->
		{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

		{% if process.env.NODE_ENV === 'development' %}
			<!--Livereload script rendered -->
			<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
		{% endif %}
	</body>
</html>
