<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="author" content="Spartsystems">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Semantic META -->
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="description" content="{% block description %}{% endblock %}">

		<!-- Fav Icon -->
		<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

		<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>-->
		<!--Application CSS Files-->

		{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="nav-md" style="min-height:100%;">
		{% block content %}

		{% endblock %}

		<!--Application JavaScript Files-->
		{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}


		{% if process.env.NODE_ENV === 'development' %}
			<!--Livereload script rendered -->
			
			<script src="/socket.io/socket.io.js"></script>
			<!--script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script-->			
		{% endif %}
	</body>
</html>
