<div class="" ng-init="newClass={}">
  <div class="page-title">
      <div class="title_left">
          <h3>الاقسام</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>إضافة قسم جديد
                  </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                  <div class="form-horizontal form-label-left">

                      <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="first-name">الاسم
                              <span class="required">*</span>
                          </label>
                          <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                              <input type="text"  required="required" class="form-control" ng-model="newClass.name">
                          </div>
                          
                      </div>                     


                      <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                              <button  class="btn btn-success" ng-click="saveNewClass()">حفظ</button>
                              <button  class="btn btn-primary" ui-sref="backoffice.admin.listClasses">إلغاء</button>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>