<style type="text/css">
  th, td{
    text-align: center;
  }
</style>
<div class="" ng-init="newClass={}">
  <div class="page-title">
      <div class="title_left">
          <h3 name="classes">الاقسام</h3>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="clearfix">
    <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>بحت</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">                              
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 to-right" for="studlist">  اسم القسم
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12 to-right">
                                <select
                                  chosen
                                  option="classes"
                                  ng-model="studentslist"
                                  ng-options="item.id as item.name for item in classes track by item.id"
                                  style="width:200px;" autocomplete="on">
                                  <option>بحث</option>
                                </select>
                            </div>                           
                      </div>                        
                    </div>

                    <div class="form-group" style="margin-top: 80px; text-align: center;">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="searchDataHistory()">بحت</button>
                          <button export-to-csv class="btn btn-primary">تحميل</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2 name="list-classes">لائحة القسم : {{className}}</h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <br/>
                    <div id="exportthis">
                      <table id="tablee" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الاسم</th>
                                <th>رقم المنخرط</th>
                                <th>المدينة</th>
                                <th>العنوان</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="std in studentslists">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{std.displayName}}</td>
                            <td>{{std.code}}</td>
                            <td>{{std.city}}</td>
                            <td>{{std.address}}</td>
                            <!-- <td>
                              <i class="fa fa-pencil-square" aria-hidden="true"   ui-sref="backoffice.admin.editClasses({classId: clas.id})" style="margin-left:  10px;cursor: pointer;"></i>
                              <i class="fa fa-trash" aria-hidden="true"   ng-click="confirmAction('remove',clas)" style="margin-right: 10px;cursor:   pointer;"></i>
  
  
                            </td> -->
                        </tr>                      
                        </tbody>
                      </table>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>